In [1]:
%load_ext sql
%sql mysql+pymysql://root:root@localhost/first

In [4]:
%%sql

GRANT SELECT,INSERT
ON employee
TO root@localhost;

#permission to just read,insert

 * mysql+pymysql://root:***@localhost/first
0 rows affected.

[]

In [ ]:
%%sql

REVOKE INSERT
ON employee
FROM root@localhost

In [11]:
%%sql
DROP USER 'pushpa'@'localhost';

 * mysql+pymysql://root:***@localhost/first
0 rows affected.

[]

In [12]:
%%sql

CREATE USER 'pushpa'@'localhost' IDENTIFIED BY '123';
GRANT ALL PRIVILEGES ON first.* TO 'pushpa'@'localhost';

 * mysql+pymysql://root:***@localhost/first
0 rows affected.
0 rows affected.

[]

In [14]:
%%sql
SELECT user, host FROM mysql.user;

 * mysql+pymysql://root:***@localhost/first
5 rows affected.

[('mysql.infoschema', 'localhost'),
 ('mysql.session', 'localhost'),
 ('mysql.sys', 'localhost'),
 ('pushpa', 'localhost'),
 ('root', 'localhost')]

In [19]:
%%sql
SHOW GRANTS FOR 'pushpa'@'localhost';

 * mysql+pymysql://root:***@localhost/first
2 rows affected.

[('GRANT USAGE ON *.* TO `pushpa`@`localhost`',),
 ('GRANT ALL PRIVILEGES ON `first`.* TO `pushpa`@`localhost`',)]