<a href="https://colab.research.google.com/github/PushpalathaSK/AI_Practice/blob/main/Imputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from seaborn import load_dataset

data=load_dataset('titanic')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
data.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X=data.drop('survived', axis=1)
y=data['survived']

In [ ]:
from sklearn.preprocessing import LabelEncoder
for col in X.columns:
  if X[col].dtype in ['object','category','bool']:
    le=LabelEncoder()
    X[col]=le.fit_transform(X[col].astype(str))

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
from sklearn.impute import SimpleImputer
X_train_imp = X_train.copy()
X_test_imp = X_test.copy()
imputer=SimpleImputer(strategy='mean')
X_train_imp[[col]] = imputer.fit_transform(X_train_imp[[col]])
X_test_imp[[col]] = imputer.transform(X_test_imp[[col]])

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, KNNImputer, IterativeImputer
import pandas as pd
X_train_knn = X_train.copy()
X_test_knn= X_test.copy()
knn_imp = KNNImputer(n_neighbors=5)
X_train_knn = pd.DataFrame(knn_imp.fit_transform(X_train_knn), columns=X.columns)
X_test_knn = pd.DataFrame(knn_imp.transform(X_test_knn), columns=X.columns)

In [ ]:
iter_imp = IterativeImputer(random_state=42)
X_train_iter = X_train.copy()
X_test_iter = X_test.copy()
X_train_iter = pd.DataFrame(iter_imp.fit_transform(X_train_iter), columns=X.columns)
X_test_iter = pd.DataFrame(iter_imp.transform(X_test_iter), columns=X.columns)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
models_data = {

    'KNN Imputer': (X_train_knn, X_test_knn),
    'Iterative Imputer': (X_train_iter, X_test_iter)
}

model = RandomForestClassifier(random_state=42,max_depth=2)
for name, (Xtr, Xte) in models_data.items():
    model.fit(Xtr, y_train)
    y_pred = model.predict(Xte)
    print(f"{name} Results")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print(classification_report(y_test, y_pred))

KNN Imputer Results
Accuracy: 0.9664804469273743
              precision    recall  f1-score   support

           0       0.95      0.99      0.97       105
           1       0.99      0.93      0.96        74

    accuracy                           0.97       179
   macro avg       0.97      0.96      0.97       179
weighted avg       0.97      0.97      0.97       179

Iterative Imputer Results
Accuracy: 0.9664804469273743
              precision    recall  f1-score   support

           0       0.95      0.99      0.97       105
           1       0.99      0.93      0.96        74

    accuracy                           0.97       179
   macro avg       0.97      0.96      0.97       179
weighted avg       0.97      0.97      0.97       179